<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>Controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailUserController</servlet-name>
        <servlet-class>Controller.DetailUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>Controller.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomInfoController</servlet-name>
        <servlet-class>Controller.RoomInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>Controller.UserCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRoomController</servlet-name>
        <servlet-class>Controller.MyRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyContractController</servlet-name>
        <servlet-class>Controller.MyContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterContractController</servlet-name>
        <servlet-class>Controller.RegisterContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeterReadingServlet</servlet-name>
        <servlet-class>Controller.MeterReadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>Controller.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayInvoiceServlet</servlet-name>
        <servlet-class>Controller.PayInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateContractServlet</servlet-name>
        <servlet-class>Controller.CreateContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentHistoryServlet</servlet-name>
        <servlet-class>Controller.PaymentHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoomInfoServlet</servlet-name>
        <servlet-class>Controller.GetRoomInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMeterServlet</servlet-name>
        <servlet-class>Controller.DeleteMeterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferContractServlet</servlet-name>
        <servlet-class>Controller.TransferContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminateContractServlet</servlet-name>
        <servlet-class>Controller.TerminateContractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPaymentHistoryServlet</servlet-name>
        <servlet-class>Controller.MyPaymentHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>Controller.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailUserController</servlet-name>
        <url-pattern>/DetailUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractController</servlet-name>
        <servlet-class>Controller.ContractController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractController</servlet-name>
        <url-pattern>/Contract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomInfoController</servlet-name>
        <url-pattern>/RoomInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/UserCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRoomController</servlet-name>
        <url-pattern>/MyRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyContractController</servlet-name>
        <url-pattern>/MyContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterContractController</servlet-name>
        <url-pattern>/RegisterContract</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>Controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>Controller.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomServlet</servlet-name>
        <servlet-class>Controller.EditRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/AddRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/DeleteRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomServlet</servlet-name>
        <url-pattern>/EditRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeterReadingServlet</servlet-name>
        <url-pattern>/MeterReading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayInvoiceServlet</servlet-name>
        <url-pattern>/PayInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateContractServlet</servlet-name>
        <url-pattern>/CreateContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentHistoryServlet</servlet-name>
        <url-pattern>/PaymentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoomInfoServlet</servlet-name>
        <url-pattern>/GetRoomInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMeterServlet</servlet-name>
        <url-pattern>/DeleteMeter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferContractServlet</servlet-name>
        <url-pattern>/TransferContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminateContractServlet</servlet-name>
        <url-pattern>/TerminateContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPaymentHistoryServlet</servlet-name>
        <url-pattern>/MyPaymentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
</web-app>
